# Maven
target/
*.log

# Java
*.class
*.jar
*.war

# Ignore uploaded files
uploads/

# Eclipse / STS
.project
.classpath
.settings/
.metadata/
.factorypath
revshop-api/src/main/resources/application-dev.properties

# IntelliJ
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Spring Boot

*.pid
*.seed
*.pid.lock

# Logs

logs/
*.out

# Env configs (optional future use)

.env

