<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/base :: layout('Add Address', ~{::section})}">

<section>

<h2>Add New Address</h2>

<form th:action="@{/address/save}" method="post">

    <label>Full Name:</label><br/>
    <input type="text" name="fullName" required/><br/><br/>

    <label>Phone Number:</label><br/>
    <input type="text" name="phoneNumber" required/><br/><br/>

    <label>Address Line:</label><br/>
    <input type="text" name="addressLine" required/><br/><br/>

    <label>City:</label><br/>
    <input type="text" name="city" required/><br/><br/>

    <label>State:</label><br/>
    <input type="text" name="state" required/><br/><br/>

    <label>Pincode:</label><br/>
    <input type="text" name="pincode" required/><br/><br/>

    <button type="submit">Save Address</button>

</form>

</section>
</html>