<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/base :: layout('Cart', ~{::section})}">

<section class="container mt-4">

<h2 class="mb-4">Shopping Cart</h2>

<div th:each="c : ${cart}" class="card mb-3 shadow-sm p-3">

<div class="row align-items-center">

<div class="col-md-8">

<h5 th:text="${c.productName}"></h5>

<div class="d-flex align-items-center mt-2">

<button class="btn btn-outline-dark btn-sm"
        th:onclick="'updateQty(' + ${c.productId} + ',-1)'">−</button>

<span class="mx-3 fw-bold"
      th:text="${c.quantity}"></span>

<button class="btn btn-outline-dark btn-sm"
        th:onclick="'updateQty(' + ${c.productId} + ',1)'">+</button>

<a th:href="@{'/cart/remove/' + ${c.itemId}}"
   class="btn btn-link text-danger ms-3">Delete</a>

</div>

</div>

</div>
</div>
<a th:href="@{/orders/checkout}" class="btn btn-warning mt-3">
Proceed to Checkout
</a>
<script>
function updateQty(productId,change){

fetch('/cart/add',{
method:'POST',
headers:{'Content-Type':'application/x-www-form-urlencoded'},
body:'productId='+productId+'&quantity='+change
}).then(()=>location.reload());

}
</script>

</section>
</html>