<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/base :: layout('Forgot Password', ~{::section})}">

<section>
    <h2>Forgot Password</h2>
	
	<div th:if="${success}" class="alert alert-success alert-dismissible fade show" role="alert">
	    <span th:text="${success}"></span>
	    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
	</div>

	<div th:if="${error}" class="alert alert-danger alert-dismissible fade show" role="alert">
		<span th:utext="${error}"></span>
	    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
	</div>

	<form th:action="@{/forgot-password}" method="post">

	    <div class="mb-3">
	        <label class="form-label">Email Address</label>
	        <input type="email"
	               name="email"
	               class="form-control"
	               placeholder="Enter your registered email"
	               required>
	    </div>

	    <button type="submit" class="btn btn-primary">
	        Send OTP
	    </button>

	</form>

    <p th:text="${message}"></p>
</section>

</html>