<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/base :: layout('Home', ~{::section})}">

<section class="hero-section">

    <div class="hero-content text-center text-white">

        <h1 class="display-3 fw-bold">
            Welcome to <span style="color:#f4c430;">RevShop</span>
        </h1>

        <p class="lead mt-3">
            Buy. Sell. Discover. Your trusted marketplace platform.
        </p>

        <div class="mt-4">
            <a th:href="@{/login}"
               class="btn btn-light btn-lg me-3 px-4">
                Login
            </a>

            <a th:href="@{/register}"
               class="btn btn-warning btn-lg px-4">
                Get Started
            </a>
        </div>

    </div>

</section>

</html>