<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/base :: layout('Home', ~{::section})}">

<section style="text-align:center;margin-top:50px">
    <h1>Welcome to RevShop</h1>
    <p>Your one stop marketplace for Buyers & Sellers</p>

    <div style="margin-top:30px">
        <a th:href="@{/login}">
            <button style="padding:10px 20px;margin-right:20px">Login</button>
        </a>

        <a th:href="@{/register}">
            <button style="padding:10px 20px">Register</button>
        </a>
    </div>
</section>

</html>