<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/base :: layout('Products', ~{::section})}">

<section class="container mt-4">


    <div id="successMsg"
         th:if="${param.added}"
         class="alert alert-success text-center">
        ✔ Added to cart successfully
    </div>

    <div class="d-flex justify-content-between align-items-center mb-4">
        <a th:href="@{/}"
           class="btn btn-outline-secondary">
            ← Back to Home
        </a>

        <h2 class="mt-4 mb-4">📦Available Products</h2>

        <a th:href="@{/cart}">
            <button class="btn btn-dark">🛒 View Cart Items</button>
        </a>
    </div>

    <form method="get" th:action="@{/products}" class="row g-2 mb-4">

        <div class="col-md-3">
            <input type="text" name="keyword"
                   th:value="${keyword}"
                   class="form-control"
                   placeholder="Search product...">
        </div>

        <div class="col-md-3">
            <select name="categoryId" class="form-select">
                <option value="">All Categories</option>
                <option th:each="c : ${categories}"
                        th:value="${c.id}"
                        th:text="${c.name}"
                        th:selected="${c.id == categoryId}">
                </option>
            </select>
        </div>

        <div class="col-md-2">
            <input type="number" name="minPrice"
                   th:value="${minPrice}"
                   class="form-control"
                   placeholder="Min Price">
        </div>

        <div class="col-md-2">
            <input type="number" name="maxPrice"
                   th:value="${maxPrice}"
                   class="form-control"
                   placeholder="Max Price">
        </div>

        <div class="col-md-2 d-flex gap-2">
            <button class="btn btn-primary w-100">Search</button>

            <a th:href="@{/products}" class="btn btn-outline-secondary w-100">
                Reset
            </a>
        </div>

    </form>

    <div class="row">
        <div class="col-md-4 mb-4 d-flex" th:each="product: ${products}">
            <div class="card product-card shadow-sm w-100 h-100 border-0">

                <div class="product-image-wrapper">
                    <img th:src="${product.imageUrl != null} ? @{/images/{img}(img=${product.imageUrl})} : @{/images/no-image.jpg}"
                         class="product-img">
                </div>

                <div class="card-body d-flex flex-column">

                    <h5 class="fw-semibold text-truncate"
                        th:text="${product.name}"></h5>

                    <p class="text-muted small product-desc"
                       th:text="${product.description}"></p>

                    <div>
                        <span class="text-muted text-decoration-line-through"
                              th:if="${product.mrp != null}">
                            ₹ <span th:text="${product.mrp}"></span>
                        </span>

                        <span class="badge bg-danger ms-2"
                              th:if="${product.discountPercent != null && product.discountPercent > 0}">
                              <span th:text="${product.discountPercent}"></span>% OFF
                        </span>
                    </div>
                    <div class="fw-bold text-success fs-5 mb-2">
                        ₹ <span th:text="${product.price}"></span>
                    </div>
                    <div class="mt-auto">

                        <div class="d-flex gap-2">

                            <a th:href="@{'/products/' + ${product.id}}"
                               class="btn btn-outline-primary btn-sm w-50">
                                View Details
                            </a>

                            <form th:action="@{/cart/add}" method="post" class="w-50">
                                <input type="hidden" name="productId"
                                       th:value="${product.id}">
                                <input type="hidden" name="quantity" value="1">

                                <button type="submit"
                                        class="btn btn-success btn-sm w-100">
                                    Add To Cart
                                </button>

                                <div class="text-success small mt-1 d-none"
                                     th:attr="id='badge-'+${product.id}">
                                    ✔ Added to cart
                                </div>
                            </form>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>


    <script>


        const successMsg = document.getElementById("successMsg");
        if(successMsg){
            setTimeout(()=>{
                successMsg.style.display="none";
            },3000);
        }


        const params = new URLSearchParams(window.location.search);
        const pid = params.get("pid");

        if(pid){
            const badge = document.getElementById("badge-"+pid);
            if(badge){
                badge.classList.remove("d-none");

                setTimeout(()=>{
                    badge.classList.add("d-none");
                },3000);
            }
        }

    </script>

</section>

<style>

    .row > div {
        display: flex;
    }

    .product-card {
       display: flex;
       flex-direction: column;
        border-radius: 14px;
        transition: all 0.2s ease;
        height: 100%;
    }

    .product-card:hover {
        transform: translateY(-4px);
        box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    }

    .product-image-wrapper {
        width: 100%;
        height: 220px;
        overflow: hidden;
        background: #f6f7f8;
    }

    .product-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }


    .product-desc {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        min-height: 42px;
    }

    .card-body {
        display: flex;
        flex-direction: column;
    }
</style>

</html>