<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/base :: layout('Reset Password', ~{::section})}">

<section>
    <h2>Reset Password</h2>
	
	<div th:if="${success}" class="alert alert-success alert-dismissible fade show" role="alert">
	    <span th:text="${success}"></span>
	    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
	</div>

	<div th:if="${error}" class="alert alert-danger alert-dismissible fade show" role="alert">
	    <span th:text="${error}"></span>
	    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
	</div>

	<form th:action="@{/reset-password}" method="post">

	    <div class="mb-3">
	        <label class="form-label">Email</label>
	        <input type="email"
	               name="email"
	               th:value="${email}"
	               class="form-control"
	               readonly>
	    </div>

	    <div class="mb-3">
	        <label class="form-label">OTP</label>
	        <input type="text"
	               name="otp"
	               class="form-control"
	               placeholder="Enter 6-digit OTP"
	               required>
	    </div>

	    <div class="mb-3">
	        <label class="form-label">New Password</label>
	        <input type="password"
	               name="newPassword"
	               class="form-control"
	               placeholder="Enter new password"
	               required>
	    </div>

	    <button type="submit" class="btn btn-success">
	        Reset Password
	    </button>

	</form>

    <p th:text="${message}"></p>
</section>

</html>